---
import '../styles/styles.css';
import CompaniesByYear from "../components/CompaniesByYear.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<div class="rocket">
				<img src="/assets/1st-stage.svg" alt="">
				<img src="/assets/2st-stage.svg" alt="">
				<img src="/assets/3st-stage.svg" alt="">
				<img src="/assets/lunar.svg" alt="">
			</div>
			<h1 class="big-text">Astro Boy</h1>
			<section>
				<CompaniesByYear/>
			</section>
			<section>
				<p>Welcome</p>
			</section>

		</main>
	</body>
</html>

<style>
	.rocket {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	.rocket ig {
		width: 100%;
	}
</style>
