---
---

<footer>
    <p>Made in 2024 at the HEIG-VD</p>
    <p>Data from <a href="https://www.kaggle.com/datasets/agirlcoding/all-space-missions-from-1957">Kaggle</a></p>
</footer>


<style>
    footer {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 2rem 0;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }
</style>