---
---

<header>
    <h1>SML</h1>
    <p>Since 1957</p>
</header>


<style>
    header {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 2rem 0;
    }

    h1, p {
        font-size: 1rem;
        margin: 0;
    }
</style>