---

---

<section>
    <div>
        <h1>Space Mission Launches</h1>
        <!-- <p>Since the Soviet Union launched Sputnik 1 in 1957, space missions have revolutionized our understanding of the cosmos.</p> -->
        <p>Discover all the space missions since 1957</p>
    </div>
    <p>— Scroll to start the engines —</p>
</section>

<style>
    section {
        text-align: center;
        height: 80vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    div > p {
        font-size: 1.5rem;
    }
</style>